@tailwind base;
@tailwind components;
@tailwind utilities;

.background-img{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.fade-in{
    animation: fade-in 2s forwards;
}

@keyframes fade-in {
    from{opacity: 0;}
    to{opacity: 1;}
}